USE [master]
GO
/****** Object:  Database [FlowerShopDB]    Script Date: 10/28/2025 3:39:47 PM ******/
CREATE DATABASE [FlowerShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlowerShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FlowerShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlowerShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FlowerShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlowerShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlowerShopDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[CategoryDescription] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[MessageContent] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodes]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[MinOrderAmount] [decimal](18, 2) NULL,
	[MaxDiscountAmount] [decimal](18, 2) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[MaxUsage] [int] NULL,
	[CurrentUsage] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ShippingMethod] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderReturnRequests]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReturnRequests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[EvidenceUrl] [nvarchar](500) NULL,
	[Status] [varchar](20) NOT NULL,
	[AdminNotes] [nvarchar](max) NULL,
	[ProcessedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[RecipientName] [nvarchar](100) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[RecipientPhone] [varchar](20) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[OrderDate] [datetime] NULL,
	[ShippingFee] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingMethod] [nvarchar](20) NOT NULL,
	[CompletedDate] [datetime] NULL,
	[DiscountCodeId] [int] NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Promotions]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Promotions](
	[ProductId] [int] NOT NULL,
	[PromotionId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductDescription] [nvarchar](max) NULL,
	[ImageUrl] [varchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[CategoryId] [int] NULL,
	[Status] [bit] NULL,
	[Sold] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionName] [nvarchar](255) NOT NULL,
	[DiscountPercent] [decimal](5, 2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[AccountId] [int] NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 10/28/2025 3:39:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[AccountId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [FullName], [Email], [PhoneNumber], [Address], [Password], [Role], [CreatedAt]) VALUES (1, N'Quản Trị Viên', N'admin@flowershop.com', N'0123456789', N'123 Đường ABC, Quận 1, TP.HCM', N'$2a$10$Rg9s4qo/0cIwTq.h6klCOOwccNwnqsLXRm6Vah3AFaOL24.iGQ0Mq', N'admin', CAST(N'2025-10-14T19:54:58.827' AS DateTime))
INSERT [dbo].[Accounts] ([Id], [FullName], [Email], [PhoneNumber], [Address], [Password], [Role], [CreatedAt]) VALUES (2, N'Nguyễn Văn An', N'an.nguyen@email.com', N'0911111111', N'10 Nguyễn Trãi, Quận 5, TP.HCM', N'$2a$10$Rg9s4qo/0cIwTq.h6klCOOwccNwnqsLXRm6Vah3AFaOL24.iGQ0Mq', N'customer', CAST(N'2025-10-14T19:54:58.827' AS DateTime))
INSERT [dbo].[Accounts] ([Id], [FullName], [Email], [PhoneNumber], [Address], [Password], [Role], [CreatedAt]) VALUES (3, N'Trần Thị Bích', N'bich.tran@email.com', N'0922222222', N'25 Lê Lợi, Quận 3, TP.HCM', N'hashed_password_for_customer', N'customer', CAST(N'2025-10-14T19:54:58.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [CategoryDescription]) VALUES (1, N'Bó hoa', N'Hoa được bó thủ công, thích hợp làm quà tặng tình yêu, sinh nhật.')
INSERT [dbo].[Categories] ([Id], [CategoryName], [CategoryDescription]) VALUES (2, N'Giỏ hoa', N'Hoa được cắm nghệ thuật trong giỏ, phù hợp cho các dịp khai trương, chúc mừng.')
INSERT [dbo].[Categories] ([Id], [CategoryName], [CategoryDescription]) VALUES (3, N'Chậu hoa', N'Hoa trồng trong chậu, dùng để trang trí không gian sống và văn phòng.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [MessageContent], [CreatedAt], [IsRead]) VALUES (1, 2, 1, N'alo', CAST(N'2025-10-21T16:17:29.643' AS DateTime), 0)
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [MessageContent], [CreatedAt], [IsRead]) VALUES (2, 1, 2, N'hello fen', CAST(N'2025-10-21T16:22:12.907' AS DateTime), 0)
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [MessageContent], [CreatedAt], [IsRead]) VALUES (3, 2, 1, N'bán cho chậu hoa 500k', CAST(N'2025-10-21T16:22:30.300' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[DiscountCodes] ON 

INSERT [dbo].[DiscountCodes] ([Id], [Code], [DiscountPercent], [DiscountAmount], [MinOrderAmount], [MaxDiscountAmount], [StartDate], [EndDate], [MaxUsage], [CurrentUsage], [IsActive], [Description]) VALUES (1, N'ABC', CAST(10.00 AS Decimal(5, 2)), NULL, CAST(0.00 AS Decimal(18, 2)), NULL, CAST(N'2025-10-26T17:00:00.000' AS DateTime), CAST(N'2025-10-28T17:01:00.000' AS DateTime), NULL, 1, 1, N'')
SET IDENTITY_INSERT [dbo].[DiscountCodes] OFF
GO
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [Price], [ShippingMethod]) VALUES (30, 2, 1, CAST(520000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [Price], [ShippingMethod]) VALUES (30, 8, 4, CAST(329000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderDetails] ([OrderId], [ProductId], [Quantity], [Price], [ShippingMethod]) VALUES (30, 9, 1, CAST(480000.00 AS Decimal(18, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [AccountId], [RecipientName], [ShippingAddress], [RecipientPhone], [Note], [OrderDate], [ShippingFee], [TotalAmount], [PaymentMethod], [Status], [ShippingMethod], [CompletedDate], [DiscountCodeId], [DiscountAmount]) VALUES (1, 2, N'Nguyễn Văn An', N'10 Nguyễn Trãi, Quận 5, TP.HCM', N'0911111111', N'Giao trong giờ hành chính.', CAST(N'2025-10-14T19:54:58.887' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(499000.00 AS Decimal(18, 2)), NULL, N'Hoàn tất', N'FAST', NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [AccountId], [RecipientName], [ShippingAddress], [RecipientPhone], [Note], [OrderDate], [ShippingFee], [TotalAmount], [PaymentMethod], [Status], [ShippingMethod], [CompletedDate], [DiscountCodeId], [DiscountAmount]) VALUES (2, 3, N'Trần Thị Bích', N'25 Lê Lợi, Quận 3, TP.HCM', N'0922222222', NULL, CAST(N'2025-10-14T19:54:58.887' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(1350000.00 AS Decimal(18, 2)), NULL, N'Hoàn tất', N'FAST', NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [AccountId], [RecipientName], [ShippingAddress], [RecipientPhone], [Note], [OrderDate], [ShippingFee], [TotalAmount], [PaymentMethod], [Status], [ShippingMethod], [CompletedDate], [DiscountCodeId], [DiscountAmount]) VALUES (3, 4, N'Lê Minh Cường', N'33 Võ Văn Tần, Quận 3, TP.HCM', N'0933333333', N'Vui lòng gọi trước khi giao.', CAST(N'2025-10-14T19:54:58.887' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(980000.00 AS Decimal(18, 2)), NULL, N'Đang giao', N'FAST', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [ProductName], [ProductDescription], [ImageUrl], [Price], [SalePrice], [CategoryId], [Status], [Sold]) VALUES (1, N'Bó hoa hồng đỏ', N'Bó hoa tình yêu nồng cháy, biểu tượng của sự lãng mạn.', N'images/Bohoa/BohoaHongdo.png', CAST(550000.00 AS Decimal(18, 2)), CAST(499000.00 AS Decimal(18, 2)), 1, 1, 10)
INSERT [dbo].[Products] ([Id], [ProductName], [ProductDescription], [ImageUrl], [Price], [SalePrice], [CategoryId], [Status], [Sold]) VALUES (2, N'Bó hoa hồng trắng', N'Vẻ đẹp tinh khôi, trong sáng, phù hợp cho những khởi đầu mới.', N'images/bohoa/BohoaHongtrang.png', CAST(520000.00 AS Decimal(18, 2)), NULL, 1, 1, 25)
INSERT [dbo].[Products] ([Id], [ProductName], [ProductDescription], [ImageUrl], [Price], [SalePrice], [CategoryId], [Status], [Sold]) VALUES (3, N'Bó hoa tulip hồng', N'Sự ngọt ngào và lời chúc hạnh phúc gửi trao đến người thương.', N'images/Bohoa/BohoaTuliphong.png', CAST(650000.00 AS Decimal(18, 2)), CAST(599000.00 AS Decimal(18, 2)), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ProductId], [AccountId], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 2, 5, N'Hoa rất đẹp, giao đúng giờ. Bạn gái mình rất thích!', CAST(N'2025-10-14T19:54:58.913' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [ProductId], [AccountId], [Rating], [Comment], [CreatedAt]) VALUES (2, 12, 3, 5, N'Giỏ hoa sang trọng, shop tư vấn nhiệt tình. Sẽ ủng hộ lần sau.', CAST(N'2025-10-14T19:54:58.913' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [ProductId], [AccountId], [Rating], [Comment], [CreatedAt]) VALUES (3, 19, 4, 4, N'Hoa tươi, nhiều nụ. Tuy nhiên shipper giao hơi trễ so với dự kiến.', CAST(N'2025-10-14T19:54:58.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__A9D10534C6022C3A]    Script Date: 10/28/2025 3:39:48 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0D1AE262B]    Script Date: 10/28/2025 3:39:48 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Discount__A25C5AA7277BE07F]    Script Date: 10/28/2025 3:39:48 PM ******/
ALTER TABLE [dbo].[DiscountCodes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__OrderRet__C3905BCEAC913C0C]    Script Date: 10/28/2025 3:39:48 PM ******/
ALTER TABLE [dbo].[OrderReturnRequests] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('customer') FOR [Role]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[DiscountCodes] ADD  DEFAULT ((0)) FOR [CurrentUsage]
GO
ALTER TABLE [dbo].[DiscountCodes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Đang xử lý') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_ShippingMethod]  DEFAULT ('FAST') FOR [ShippingMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_DiscountAmount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderReturnRequests]  WITH CHECK ADD  CONSTRAINT [FK_OrderReturnRequests_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderReturnRequests] CHECK CONSTRAINT [FK_OrderReturnRequests_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DiscountCodes] FOREIGN KEY([DiscountCodeId])
REFERENCES [dbo].[DiscountCodes] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DiscountCodes]
GO
ALTER TABLE [dbo].[Product_Promotions]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Product_Promotions]  WITH CHECK ADD FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Account]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Product]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
